body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
body {
    background: #1b1b1b;
    color: #fafafa
}
body > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-container {
    display: inline-grid;
    grid-column-gap: 0px;
    grid-row-gap: 1px;
}

.grid-item {
    box-sizing: border-box;
    font-size: 1em;
    padding: .2em .3em;
    background: antiquewhite;
}

.grid-item:nth-child(2), .grid-item:nth-child(3), .grid-item:nth-child(4) {
    text-align: center;
}

.App-table {
    color: #1b1b1b;
}
.App-rowWrapper{
    display: contents;
    transition: text-shadow .3s;
}
.App-rowWrapper:hover > .grid-item:not(.App-btnWrapper) {
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}
.App-rowWrapper:first-child .grid-item:first-child{
    border-top-left-radius: .4em;
}
.App-rowWrapper:first-child .grid-item:last-child{
    border-top-right-radius: .4em;
}
.App-rowWrapper:last-child .grid-item:last-child{
    border-bottom-right-radius: .4em;
}
.App-rowWrapper:last-child .grid-item:first-child,
.App-personForm-item:nth-child(2) {
    border-bottom-left-radius: .4em;
}

.App-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.App-link {
    text-decoration: underline;
    cursor: pointer;
    color: #3463ea;
}

.App-input--short {
    width: 64px;
}
.App-input--middle {
    width: 88px;
}

.App-text--center {
    text-align: center;
}
.App-btnOk {
    min-width: 54px;
}
.App-btnDelete {
    z-index: 1;
}
.App-btnDelete:hover,
.App-btnCancel {
    color: #f00;
}

.App-personForm-item {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.App-overflow {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgba(97, 80, 60, .6);
}
