body, html {
  margin: 0;
  padding: 0;
  background: #1b1b1b;
  color: #fafafa
}

.grid-container {
    display: inline-grid;
    grid-column-gap: 0px;
    grid-row-gap: 1px;
}

.grid-item {
    box-sizing: border-box;
    font-size: 1em;
    padding: .2em .3em;
    background: antiquewhite;
}
/* fixme +1 */
.grid-item:nth-child(2), .grid-item:nth-child(3), .grid-item:nth-child(4) {
    text-align: center;
}

.App-table {/*
    overflow: hidden;
    border-radius: .4em;*/
    color: #1b1b1b;
}
.App-rowWrapper{
    display: contents;
    transition: text-shadow .3s;
}
.App-rowWrapper:hover > .grid-item:not(.App-btnWrapper) {
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}
.App-rowWrapper:first-child .grid-item:first-child{
    border-top-left-radius: .4em;
}
.App-rowWrapper:first-child .grid-item:last-child{
    border-top-right-radius: .4em;
}
.App-rowWrapper:last-child .grid-item:last-child{
    border-bottom-right-radius: .4em;
}
.App-rowWrapper:last-child .grid-item:first-child{
    border-bottom-left-radius: .4em;
}

.App-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.App-link {
    color: #3463ea;
}
.App-btnDelete {
    z-index: 1;
    text-decoration: underline;
}

.App-btnDelete:hover {
    color: #f00;
    cursor:pointer;
}

.App {
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
